config system
  option ttylogin '0'
  option log_size '64'
  option urandom_seed '0'
  option log_proto 'udp'
  option conloglevel '8'
  option cronloglevel '8'
  option hostname '<%= @node.fetch('node_name') %>'
  option zonename 'Europe/Andorra'
  option timezone 'CET-1CEST,M3.5.0,M10.5.0/3'

config timeserver 'ntp'
  option enabled '1'
  list server '<%= @node.fetch('ntp_server') %>'

config gpio_switch 'poe_passthrough'
  option name 'PoE Passthrough'
  option gpio_pin '2'
  option value '0'

config led 'led_rssilow'
  option sysfs 'ubnt:red:link1'
  option iface 'rssid_wlan0'
  option minq '1'
  option maxq '100'
  option offset '0'
  option factor '13'
  option default '0'
  option trigger 'netdev'
  option dev 'wlan0'
  option mode 'link tx'
  option name 'RSSILOW'

config led 'led_rssimediumlow'
  option sysfs 'ubnt:orange:link2'
  option iface 'rssid_wlan0'
  option minq '26'
  option maxq '100'
  option offset '-25'
  option factor '13'
  option default '0'
  option name 'RSSIMEDIUMLOW'
  option trigger 'none'

config led 'led_rssimediumhigh'
  option sysfs 'ubnt:green:link3'
  option iface 'rssid_wlan0'
  option minq '51'
  option maxq '100'
  option offset '-50'
  option factor '13'
  option default '0'
  option trigger 'none'
  option name 'RSSIMEDIUMHIGH'

config led 'led_rssihigh'
  option sysfs 'ubnt:green:link4'
  option iface 'rssid_wlan0'
  option minq '76'
  option maxq '100'
  option offset '-75'
  option factor '13'
  option default '0'
  option trigger 'none'
  option name 'RSSIHIGH'
