config bird 'bird'
  option UCI_config_file '/tmp/bird4.conf'
  option use_UCI_config '1'

config global 'global'
  option log_file '/tmp/bird4.log'
  option router_id '<%= @node.fetch('ip4') %>'
  option log 'error fatal'

config kernel 'kernel1'
  option import 'all'
  option export 'all'
  option scan_time '10'
  option learn '1'
  option disabled '0'

config device 'device1'
  option scan_time '10'
  option disabled '0'

config direct 'direct1'
  option disabled '0'
  option interface '"br-lan"'

config bgp_template 'common'
  option import_limit_action 'warn'
  option export_limit_action 'warn'
  option receive_trigger '0'
  option local_as '<%= @node.fetch('bgp_local_as') %>'
  option import_trigger '1'
  option export_trigger '1'
  option import_limit '4000'
  option export_limit '4000'

config bgp '<%= @node.fetch('bgp_neigh_name') %>'
  option import_trigger '0'
  option export_trigger '0'
  option receive_trigger '0'
  option disabled '0'
  option template 'common'
  option import 'filter ebgp_in'
  option export 'filter ebgp_out'
  option neighbor_address '<%= @node.fetch('bgp_neigh_ip4') %>'
  option neighbor_as '<%= @node.fetch('bgp_neigh_as') %>'
